@import '../components/variables';

.header_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem;
    margin-bottom: 3rem;
}

.description_txt {
    color: $color--dark;
    font-family: $txt--sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 200% */
    opacity: 0.8;
}

.accent {
    color: $color--accent;
    font-family: $txt--sans;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    /* 230.769% */
}

.detail_wrapper {
    margin-bottom: 2.5rem;
}

.preview_wrapper {
    .section__subheader {
        margin-bottom: 2.5rem;
    }
}

.nav_btns_wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-between;

}

.nav_btn {
    border: 0px transparent;
    outline: 1px solid $color--dark-15;
    width: 50vw;
    background-color: unset;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.nav_btn:nth-of-type(1) {
    align-items: flex-start;
}

.nav_btn:nth-of-type(2) {
    align-items: flex-end;
}

.nav_arrow {
    margin-bottom: 1rem;
}

.btn_title {
    color: $color--dark;
    font-family: $txt--serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    /* 112.5% */
    letter-spacing: -0.01788rem;
}

.btn_nav_text {
    color: $color--dark;
    opacity: 0.5;
    font-family: $txt--sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 187.5% */
}