@import '../components/variables';

.hero_img {
    max-width: 100%;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;

    @media (min-width: 576px) {
        margin-top: 1.87rem;
    }

    @media (min-width: 992px) {
        margin-bottom: 7.19rem;
    }
}

.hero_img img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.desktop_wrapper {
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 0.72fr 1fr;
        column-gap: 7.81rem;
    }
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 1.5rem;
    margin-bottom: 3rem;
    border-block: 1px solid $color--dark-15;

    @media (min-width: 576px) {
        padding-block: 2rem;
        margin-bottom: 2.5rem;
    }

    @media (min-width: 992px) {
        padding-block: unset;
        margin-bottom: unset;
        border-block: unset;
    }
}

.project_details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 576px) and (max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title description"
            "tags description";
        row-gap: 1rem;
        column-gap: 0.75rem;
    }

    @media (min-width: 992px) {
        border-block: 1px solid $color--dark-15;
        padding-block: 3rem;
    }
}

.tag_btn_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    order: 3;

    @media (min-width: 576px) and (max-width: 991px) {
        grid-area: tags;
        gap: 1rem;
    }
}

.description_txt {
    color: $color--dark;
    font-family: $txt--sans;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 200% */
    opacity: 0.8;
    order: 2;

    @media (min-width: 576px) and (max-width: 991px) {
        grid-area: description;
    }
}

.accent {
    color: $color--accent;
    font-family: $txt--sans;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    /* 230.769% */
}

.detail_wrapper {
    margin-bottom: 2.5rem;
}

.preview_wrapper {
    .section__subheader {
        margin-bottom: 2.5rem;

        @media (min-width: 992px) {
            margin-bottom: 1.75rem;
        }
    }
}

.preview_img {
    display: block;
    margin-bottom: 2rem;
}

.nav_btns_wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-between;
    margin-top: 4rem;

    @media (min-width: 576px) {
        margin-top: 5rem;
    }

    @media (min-width: 992px) {
        margin-top: 4rem;
    }
}

.nav_btn {
    border: 0px transparent;
    border-block: 1px solid $color--dark-15;
    width: 50vw;
    background-color: unset;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.nav_btn:nth-of-type(1) {
    align-items: flex-start;
    border-right: 1px solid $color--dark-15;
}

.nav_btn:nth-of-type(2) {
    align-items: flex-end;
}

@media (min-width: 576px) {
    .nav_btn {
        gap: 2rem;
        padding: 2rem 0;

        &:nth-of-type(1) {
            flex-direction: row;
            align-items: center;
        }

        &:nth-of-type(2) {
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}

.btn_txt_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_arrow {
    margin-bottom: 1rem;

    @media (min-width: 576px) {
        margin-bottom: unset;
    }
}

.btn_title {
    color: $color--dark;
    font-family: $txt--serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    /* 112.5% */
    letter-spacing: -0.01788rem;
}

.btn_nav_txt {
    color: $color--dark;
    opacity: 0.5;
    font-family: $txt--sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 187.5% */
}