@import '../components/variables';

.project {
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
        padding-inline: 2rem;
    }
    @media (min-width: 768px) {
        flex-direction: row;
        gap: 4.31rem;
        justify-content: center;
        align-items: center;
        padding-inline: 2.5rem;
    }
    @media (min-width: 992px) {
        gap: 7.81rem;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .project:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
}
.project:nth-of-type(1) {
    @media(min-width: 992px) {
        margin-top: 3.87rem;
    }
}
.project:not(:nth-of-type(1)) {
    margin-top: 4.5rem;
    @media (min-width: 992px) {
        margin-top: 5rem;
    }
}

.project_card_wrapper {
    border-block: 1px solid #33323D15;
    align-self: stretch;
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
        max-width: 35%;
    }
    @media (min-width: 992px) {
        max-width: 33%;
    }
}
.project_card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1.5rem;
    padding-block: 1.5rem;
    
    margin-top: 2rem;
    
    @media (min-width: 768px) {
        margin-top: unset;
        align-self: center;
    }
}

.project_img img {
    width: 100%;
    object-fit: cover;
}

.button {
    width: 175px;
}