@import './components/variables';
@import './Reset.css';


::-moz-selection {
  background: $color--accent;
  color: $color--white;
}
::selection {
  background: $color--accent;
  color: $color--white;
}

/* navbar styles */
.navbar {
  padding-block: 32px;
  @media (min-width: 768px) {
    padding-top: 64px;
    padding-bottom: 40px;
  }
}
.navbar > .container-fluid {
  --bs-gutter-x: 0rem;
}
.navbar-toggler {
  border: none;
  width: 24px;
  height: 24px;
  --bs-navbar-toggler-padding-y: 0;
  --bs-navbar-toggler-padding-x: 0;
}

.navbar-toggler-icon {
  background-image: url(./assets/images/icons/hamburger.svg);
  width: 100%;
  height: 100%;
}

.nav-item {
  color: $color--dark;
  font-family: $txt--sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  transition: all 200ms ease-in;
  box-sizing: border-box;
  @media (min-width: 768px) {
    & {
      position: relative;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color--accent;
      transform-origin: bottom center;
      transition: transform 0.2s ease-out;
      font-weight: bold;
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  }
}


/* main styles */
.body__wrapper {
  max-width: 1111px;
  margin: auto;
}



.footer {
  background-color: $color--dark;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding-block: 3.5rem;
  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  }
  &__Ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      width: 100%;
      justify-content: space-between;
      max-width: 1200px;
      padding-inline: 2.5rem;
    }
  }

  & > .section__header {
    text-wrap: balance;
  }
  &__text {
    text-align: center;
    font-family: Public Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    & > a {
      color: $color--white;
      padding: 1rem;
      &:hover {
        background-color: $color--accent;
      }
      &:active {
        background-color: $color--white;
        color: $color--accent;
      }
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 69px;
  }
}
@media (min-width: 768px) {
  .portfolio__project:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}
.portfolio__project:not(:nth-of-type(1)) {
  margin-top: 72px;
}
.project__card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 24px;
  padding-block: 24px;
  border-block: 1px solid #33323D15;
  margin-top: 2rem;
  .button {
    width: 175px;
  }

}
