@import '../src/components/variables';
@import './Reset.css';


::-moz-selection {
  background: $color--accent;
  color: $color--white;
}
::selection {
  background: $color--accent;
  color: $color--white;
}

/* main styles */
.body__wrapper {
  max-width: 1111px;
  margin-top: 108px;
  margin-inline: auto;
}


